<style>
body {
  background-color: pink;
}

h2 {
  Color: white;
    text-shadow: 2px 2px 5px red;
  font-size: 250%; 
  text-decoration-line: underline;
  text-decoration-style: dashed;
  letter-spacing: 6px; 
  word-spacing: 3px;
}

img {
  border-radius: 50%;
  border: dotted salmon 13px; 
}
</style>
